{% set section_class = settings.label | replace({' ':'-'}) | lower %}
{%
  set classes = [
  'layout',
  'layout--bootstrap4_twocol',
  'row',
  'section-' ~ section_class,
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }} style="margin-bottom: 15px;">
    {% if content.first %}
      <div class="col">
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first row') }}>
          {{ content.first }}
        </div>
      </div>
    {% endif %}

    {% if content.second %}
      <div class="col">
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second row') }}>
          {{ content.second }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
