
{% set section_class = settings.label | replace({' ':'-'}) | lower %}
{%
  set classes = [
  'layout',
  'layout--bootstrap4_onecol',
  'row',
  'section-' ~ section_class,
]
%}
{{ devel_breakpoint() }}
{% if content %}
  <div{{ attributes.addClass(classes) }} style="margin-bottom: 15px;">
    <div class="col">
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content row') }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
