{% set section_class = settings.label | replace({' ':'-'}) | lower %}
{%
  set classes = [
  'layout',
  'layout--bootstrap4_two_columns_four_rows',
  'row',
  'section-' ~ section_class,
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }} style="margin-bottom: 15px;">
    <div class="left col-6">
      <div class="row">
        {% if content.left_first %}
          <div class="col-12">
            <div {{ region_attributes.left_first.addClass('layout__region', 'layout__region--left_first row') }}>
              {{ content.left_first }}
            </div>
          </div>
        {% endif %}
        {% if content.left_second %}
          <div class="col-12">
            <div {{ region_attributes.left_second.addClass('layout__region', 'layout__region--left_second row') }}>
              {{ content.left_second }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="right col-6">
      <div class="row">
        {% if content.right_first %}
          <div class="col-12">
            <div {{ region_attributes.right_first.addClass('layout__region', 'layout__region--right_first row') }}>
              {{ content.right_first }}
            </div>
          </div>
        {% endif %}
        {% if content.right_second %}
          <div class="col-12">
            <div {{ region_attributes.right_second.addClass('layout__region', 'layout__region--right_second row') }}>
              {{ content.right_second }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

